CodingDojoDomain/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CodingDojoDomain/obj/Debug/CodingDojoDomain.csproj.CoreCompileInputs.cache
CodingDojoGauge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CodingDojoGauge/obj/Debug/CodingDojoGauge.csprojAssemblyReference.cache
CodingDojoGauge/obj/Debug/CodingDojoGauge.csproj.CoreCompileInputs.cache
CodingDojoServices/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
CodingDojoServices/obj/Debug/CodingDojoServices.csproj.CoreCompileInputs.cache
